.navigation {
  padding: 20px 0;
  text-align: center;

  .menu {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    &__btn {
      margin: 20px 65px 0px 0;
      padding: 15px 30px;
      cursor: pointer;
      border: 2px solid black;
      background-color: darkgrey;

      &:hover {
        background-color: gray;
      }
    }
  }
}