.error {
  margin: 0 140px;

  &__title,
  &__text {
    margin: 10px 25px;
  }

  &__btn {
    background-color: rgba(227, 187, 111, 0.8);
    border: 1px solid #eee;
    box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
    border-radius: 10px;

    &:hover {
      background-color: rgb(227, 187, 111)
    }
  }
}

